body {
  background-color: #f2efef;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.card {
  width: 500px;
  height: auto;
  padding: 40px;
  background-color: white;
}

.custom-input {
  width: 100%;
  border: 1px solid rgb(234, 231, 231);
  line-height: 1.8;
  padding: 10px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-button-submit {
  background-color: #7ea2ee;
  color: white;
  border: none;
  padding: 10px;
}

.custom-button-submit:active {
  background-color: #658bdc;
  color: white;
  border: none;
  padding: 10px;
}

.custom-button-submit:disabled {
  background-color: #a6aab3;
}

.w-100 {
  width: 100% !important;
}

.error-input {
  border: 1px solid red;
}

.error-message {
  font-size: 10px;
  color: red;
}

.d-none {
  display: none;
}


/* sign up  */

.card1 {
  width: 500px;
  height: auto;
  padding: 40px;
  background-color: white;
}

h1 {
  margin-left: 70px;
  }
  form li {
  list-style: none;
  margin-bottom: 5px;
  }
  
  form ul li label{
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  margin-right: 10px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:14px;
  }
  
  form ul li input, select, span {
  float: left;
  margin-bottom: 10px;
  }
  
  form textarea {
  float: left;
  width: 350px;
  height: 150px;
  }
  
  [type="submit"] {
  clear: left;
  margin: 20px 0 0 230px;
  font-size:18px
  }
  
  p {
  margin-left: 70px;
  font-weight: bold;
  }

  .custom-input-1 {
    width: 80%;
    height: 40px;
    border: 1px solid rgb(234, 231, 231);
    line-height: 1.8;
    padding: 10px;
  }